html {
  font-family: "Roboto", sans;
}
#container {
  display: flex;
  flex-wrap: wrap;
}

#img {
  background-image: url(./flower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vw;
  flex: 1;
}

#form {
  /*background-color: #ce9e6e;*/
  height: 100vh;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-text,
#form-container,
#login {
  flex: 1;
  margin: 0 10rem 5rem 3rem;
}

#hero-text p:nth-child(1n) {
  padding-top: 8rem;
}

#hero-text p:nth-child(2n) {
  padding-top: 2rem;
}

#hero-text {
  font-size: 30px;
}

form {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.form-item {
  display: flex;
  flex-direction: column;
}
input {
  max-width: 300px;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
button {
  background-color: #ce9e6e;
  border-radius: 10px;
  border: solid 1px;
  font-size: 16px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
#button-container {
  padding-top: 1rem;
}

a {
  color: #ce9e6e;
  text-decoration: none;
}
